<div class='shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
  <h1>
    <span class='badge badge-pill badge-info'>
      <%= @project.id %>
    </span>
    <%= @project.title %>
    
  </h1>
  
  <h6>Due Date: <%= @project.due_date%> </h6>

  <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @project.description %></p>

  <%# link_to arguments: name, path, options_object %>

  <div>
    <%= link_to(
      "Edit",
      edit_projects_path(@project),
      class: 'btn btn-info'
    )
    %>
    <%= link_to(
      "Delete",
      project_path(@project),
      method: :delete,
      class: 'btn btn-danger',
      data: { confirm: 'are you sure you want to delete this project?' }
    )
    %>
    
  </div>

</div>